<div id='entry_form_overlay'></div>
<form id='entry_form'>
  <div class='flash'></div>

  <p>
    <label for='distance'>Distance (in miles)</label>
    <input type='text' name='distance' id='distance' placeholder='0.0' value='<%= model.distance %>' />
  </p>

  <p>
    <label for='duration'>Duration (in minutes)</label>
    <input type='text' name='duration' id='duration' placeholder='0' value='<%= model.duration %>' />
  </p>

  <% var pDate = new Date(); %>

  <p>
    <label for='date'>Date</label>
    <input type='text' name='date' id='date' value='<%= date %>' placeholder='<%= pDate.getFullYear() + '/' + (pDate.getMonth() + 1) + '/' + pDate.getDate() %> 12:00:00' />
  </p>

  <p>
    <label></label>
    <input type='submit' value='<%= typeof model.id !== 'undefined' ? 'Save' : 'Create' %> Entry' />
    <a href='#cancel' class='cancel'>Cancel</a>
  </p>
</form>